<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <configSections>
        <sectionGroup name="userSettings"
                      type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DerekWare.Iris.Properties.Settings"
                     type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                     allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Iris.Properties.Settings"
                     type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                     allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <DerekWare.Iris.Properties.Settings>
            <setting name="PropertyCache" serializeAs="String">
                <value />
            </setting>
            <setting name="HueBridgeAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="HueApiKey" serializeAs="String">
                <value />
            </setting>
            <setting name="UserScenes" serializeAs="String">
                <value />
            </setting>
        </DerekWare.Iris.Properties.Settings>
        <Iris.Properties.Settings>
            <setting name="PropertyCache" serializeAs="String">
                <value />
            </setting>
        </Iris.Properties.Settings>
    </userSettings>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-1.9.0.0" newVersion="1.9.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>

</configuration>